body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('back.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    text-align: center;
    /* background-color: #fff; */
    background-color: rgba(255, 255, 255, 0.432);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.converter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin: 0 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

button:hover {
    background-color: #0056b3;
}

.result {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

.result{
    font-weight: bold;
}